<div class="container">
  
  <h2 class="center">Order History</h2>
  <br/>
  
  <table class="table table-hover table-bordered">
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Date Ordered</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.listing.image.url(:thumb) %></td>
        <td><%= order.listing.name %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.seller.name %></td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </table>
    
</div>





